header{
  background-color: rgb(255, 255, 255);
position: fixed;
/* left0right0入れないとPOSSE~インスタアイコンまでの最低限の幅しか確保できなくなるからつける */
left: 0;
right: 0;
z-index: 9999999;

}
.headerInner {
  height: 70px;
display: flex;
justify-content: space-between;
align-items: center;
}
.POSSE {
  padding-left: 30px;
}
.globalnav{
  display: flex;
}

.globalnav a{
  text-decoration: none;
  color: #666666;
  height: 20px;
  margin: auto 0;
  margin-right: 30px;
  /* このしたのdisplayflexいらない説 */
  display: flex;
  font-weight: bold;

}

.icon a {
  width: 50px;
  height: 50px;
  display:inline-flex;
  border: solid 1px #eee;
  border-radius: 50%;
  
}
.icon img{
  display:inline-flex;
  margin: auto;
  width: 24px;
  height: 24px;
}
#headerLogo{
min-width: auto;
}



main {
  padding-top: 100px;
  position: relative;
  
}

.topPhoto {
position: relative;
}
.topText {
  
  color: #ffffff;
  
}
.topText h2 {
  position: absolute;
  top:110px;
  left:204px;
}
.topText h1 {
  position: absolute;
  top:160px;
  left:204px;
  font-size: 50px;
  font-weight: bold;
}

/* こっからクイズ */

.quiz_container {
  width:984px;
  padding-top:120px ;
  margin: 0 auto;
}

.quiz_container h3{
  width: 80px;
  height: 70px;
  background-color: #0071bc;
  border-radius: 8px;
  text-align: center;
  line-height: 70px;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
}

.quiz_container p {
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 36px;
  font-weight: bold;
}

.quiz_question img {
  width:680px;
  height: 320px;
  margin-left: 160px;
  margin-bottom: 50px;
}

.quiz_container h4 {
  width:50px;
  height:70px;
  background-color: #e34e70;
  border-radius: 8px;
  text-align: center;
  line-height: 70px;
  color: #fff;
  font-size: 30px;
  font-weight: bold;

}
.quiz_container ul{
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}
.quiz_container li {
  
  font-weight: 700;
  padding-left: 20px;
  display: flex;
  align-items: center;
  width: 280px;
  height:60px;
  border: solid 4px #eee;
  border-radius: 8px;
  background-image: url(./assets-ph1-website-main/img/icon/icon-arrow.svg);
  background-position: right 32px center;
  background-repeat: no-repeat;
}

.quiz_container .buttonBorder {

  border: solid 4px #0071bc;
}

.quiz_container ul .buttonLock {
  /* pointer-events: none; */
  border: solid 4px #bc006e;
  
}
.sourceOfTheAnswer {
  margin-top: 30px;
  width: 984px;
  height: 80px;
  background-color: #eee;
  border-radius: 8px;
  position: relative;
  display: flex;
  
}

.sourceOfTheAnswer img {
  width:30px;
  height:30px;
  padding-top:25px;
  padding-left: 20px;
}

.sourceOfTheAnswer p {
  padding-left: 10px;
  padding-top: 5px;
  font-size: 20px;
}

.officialLine, .officialLine_layer {
  margin: auto;
  width: 1000px;
  height: 350px;
  border-radius: 50px;
}

.officialLine{
  margin: auto;
  background-image:url(./assets-ph1-website-main/img/bg-line.jpg);
  background-size: cover;
  color: #fff;
  position: relative;
  width: 984px;
  margin-top: 100px;
  margin-bottom: 100px;
}
.officialLine_layer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.officialLine, .officialLine::before {
  border-radius: 60px;
}
.officialLine::before {
  background-color: rgba(0, 113, 188, 0.9) ;
  content: "";
position: absolute;
top: 0;
left: 0;

width: 100%;
height: 100%;
}

.officialLine h2{
  font-size: 36px;
  font-weight: bold;
  display: flex;
  z-index: 9999;
  padding-bottom: 25px;

}
.officialLine p {
  z-index: 1000;
  text-align: center;
  line-height: 25px;
  font-size: 14px;
}
.line_logo {
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  display: flex;
  z-index: 1000;
}
.line_logo img {
  width: 38px;
  height: 38px;
  
}
.lineButton {
  width: 350px;
  height: 50px;
  z-index: 1000;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  margin-top: 20px;
  background-color: #fff;
}
.lineButton p {
  padding-left: 100px;
  font-weight: bold;
}
.lineButton img {
  padding-left: 100px;
}
/* ここからfooter */
.p_fixedLine {
  width: 288px;
  height: 80px;
  background-color: #5fdb5f;
  margin-left: auto;
  border-radius: 15px;
  box-shadow: 4px 4px 20px rgb(0 0 0 / 15%);
  position: fixed;
  bottom: 16px;
  right: 16px;
}
.p_fixedLine a {
  display: flex;
  text-decoration: none;
  justify-content: space-evenly;
  padding-top: 7%;
  
}
.line_icon {
  background-color: #ffffff;
  width: 29px;
  height: 26px;
  position: relative;
  top: 5px;
  left: 1px;
}
.line_icon::before {
  content: "";
  background-image: url(./assets-ph1-website-main/img/icon/icon-line.svg);
  display: inline-block;
  width: 36px;
  height: 36px;
  background-repeat: no-repeat;
  position: absolute;
  top: -5px;
  left: -1px;
  border-radius: 10%;
}
.p_fixedLine a img{
width: 36px;
height: 36px;
z-index: 1000;
}
.p_fixedLine a p {
  font-size: 14px;
  line-height: 1.5;
  color: #ffffff;
  font-weight: bold;
}
#link_light {
  width: 20px;
}
.ifooter_cfooter {
  /* このwidthもいらない説 */
  /* width: 50%; */
  margin: 0 auto;
  border-top: solid 1px #eee

}
.ifooter {
  display: flex;
  flex-direction:column;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
padding-top: 50px;

}

.ifooter img {
  width: 150px;
  margin: 0 auto;
}
.ifooter p{
  font-size: 14px;
  text-align: center;
  font-weight: normal;
  color: #666666;
  padding-top: 20px;
}

.cfooter {
  border-top: solid 1px #eee;
  margin-top: 50px;
}
.cfooter p {
  font-size: 10px;
  text-align: center;
}

.ifootersns {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
}

.ifootersns a {
  width: 50px;
  height: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border : solid 1px #eee;
  border-radius: 50%;
}
.ifootersns a img{
  width: 20px;
  height: 20px;
}
.cfooter {
  padding-top: 50px;
padding-bottom: 50px;
}